---
layout: default
title: Home
---
<ul>
<div class="posts">
  {% for post in paginator.posts %}
  <div class="post">
    <li class="post-title">
      <a href="{{ site.baseurl }}{{ post.url }}">
        {{ post.title }}
      </a>
      <span class="post-date">{{ post.date | date_to_string }}</span>
      <hr>
      <span class="post-overview">{{ post.overview }}</span>
    </li>
  </div>
  {% endfor %}
</div>
</ul>
<div class="pagination">
  {% if paginator.next_page %}
    <a class="pagination-item older" href="{{ site.baseurl }}/page{{paginator.next_page}}">이전 글</a>
  {% else %}
    <span class="pagination-item older">이전 글</span>
  {% endif %}
  {% if paginator.previous_page %}
    {% if paginator.page == 2 %}
      <a class="pagination-item newer" href="{{ site.baseurl }}/">최근 글</a>
    {% else %}
      <a class="pagination-item newer" href="{{ site.baseurl }}/page{{paginator.previous_page}}">최근 글</a>
    {% endif %}
  {% else %}
    <span class="pagination-item newer">최근 글</span>
  {% endif %}
</div>
<hr>
<footer>
  삶은 고통이다. 이러한 삶을 행복하게 살아가는 사람을 나는 지혜로운 사람이라고 한다.
</footer>

